body {
font-family:"Roboto",
    sans-serif;
    color:#434455;
    background-color: #FFFFFF
}

@font-face {
    font-family:"Raleway", sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

.telefon{
font-family:"Raleway",
    sans-serif;

}