body {
font-family:"Roboto",
    sans-serif;
    color:#434455;
    background-color: #FFFFFF
}


@font-face {
    font-family: "Raleway",
        sans-serif;
    src: url('https: //fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

.logo {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}


